
.container {
    display: flex;
    justify-content:space-evenly; 
    margin-top: 100px;  
  }
  
  .box {
    width: 100px;
    height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
  }
  
  .box1 { 
    background-color: blue;
 }
  .box2 { 
    background-color: pink;
 }

 .box:hover{
    background-color: rgb(9, 255, 0);
    border: 1px solid black;
 }
  
  